<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="packages" />
  </config>

  <packageSources>
    <clear />

    <!-- ### Unremark this for online PC build -->
    <!--add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" /-->

    <!-- ### Unremark this for onffline PC build with Artifactory support-->
    <!--add key="artifactory" value="https://artifactory.dev.local/artifactory/api/nuget/SOME_REPO/index.json" /-->

    <!-- ### Keep both remarked for onffline PC build if packages folder exists and filled with all dependencies-->
  </packageSources>
</configuration>